/* header */

.header {
    border-bottom: 1px solid #ECECEC;
    padding: 24px 0 24px 0;
}

.header__top {
    display: flex;
    align-items: center;
    transition: $transition-fill, $transition-color;
}

.header__logo-text {
    color: #000;
}

/* .header__nav{} */

.header__nav-list {
    display: flex;
}

.header__nav-list-link {
    color: $title-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    transition: $transition-color;
    &:hover {
        color:$accent-color;
    fill: currentColor;    
    }
    &:focus {
        color:$accent-color;
    fill: currentColor;
    }   
}

.header__nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.header__nav-list-item .header__nav-list-link.current {
    color: $accent-color;
    background: transparent;
}

.header__nav-list-item .header__nav-list-link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color:$accent-color;
    border-radius: 2px;
    left: 0;
    top: 44px;
}

.header__nav-list-link {
    transition: $transition-color;
}

.header__nav-list-link:hover::after
.header__nav-list-link:focus::after {
    background: $accent-color;
}

.header__links {
    display: flex;
    margin-left: auto;
}

.header__links li:not(:last-child) {
    margin-right: 30px;
}

/* header__links-item{} */

.header__link {
    display: flex;
    align-items: center;
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: $transition-fill, $transition-color;
}

.header__link:hover,
.header__link:focus{
    color:$accent-color;
    fill: currentColor;
}

.header__link-icon {
    margin-right: 10px;
}